<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scxh.mymeituan">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bg_logo"
        android:label="MyMeiTuan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".MTActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".My_Activity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".More_Activity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".Sj_Activity" />
        <activity android:name=".City_Activity" />
        <activity android:name=".Pager_Activity" />
        <activity android:name=".Show_Activity"></activity>
    </application>

</manifest>